.curse{
    background-color: navajowhite;
    font-size: 30px;
  }
  .map1{
    background-color: aqua;
    font-size:30px;
  }
  .div1{
    background-color: antiquewhite;
    font-size: 30px;
  }
  .div2{
    background-color: aquamarine;
    font-size: 40px;
  }















